In [105]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler

data = pd.read_csv('diabetic_data.csv')

In [106]:
data.head(10)

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
5,35754,82637451,Caucasian,Male,[50-60),?,2,1,2,3,...,No,Steady,No,No,No,No,No,No,Yes,>30
6,55842,84259809,Caucasian,Male,[60-70),?,3,1,2,4,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
7,63768,114882984,Caucasian,Male,[70-80),?,1,1,7,5,...,No,No,No,No,No,No,No,No,Yes,>30
8,12522,48330783,Caucasian,Female,[80-90),?,2,1,4,13,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
9,15738,63555939,Caucasian,Female,[90-100),?,3,3,4,12,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [107]:
data = data.drop('encounter_id', axis=1)

In [108]:
data.shape

(101766, 49)

In [109]:
data.head(5)

,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,8222157,Caucasian,Female,[0-10),?,6,25,1,1,?,...,No,No,No,No,No,No,No,No,No,NO
1,55629189,Caucasian,Female,[10-20),?,1,1,7,3,?,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,?,...,No,No,No,No,No,No,No,No,Yes,NO
3,82442376,Caucasian,Male,[30-40),?,1,1,7,2,?,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,42519267,Caucasian,Male,[40-50),?,1,1,7,1,?,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [110]:
data.isnull().sum()

patient_nbr                 0
race                        0
gender                      0
age                         0
weight                      0
admission_type_id           0
discharge_disposition_id    0
admission_source_id         0
time_in_hospital            0
payer_code                  0
medical_specialty           0
num_lab_procedures          0
num_procedures              0
num_medications             0
number_outpatient           0
number_emergency            0
number_inpatient            0
diag_1                      0
diag_2                      0
diag_3                      0
number_diagnoses            0
max_glu_serum               0
A1Cresult                   0
metformin                   0
repaglinide                 0
nateglinide                 0
chlorpropamide              0
glimepiride                 0
acetohexamide               0
glipizide                   0
glyburide                   0
tolbutamide                 0
pioglitazone                0
rosiglitazone               0
acarbose                    0
miglitol                    0
troglitazone                0
tolazamide                  0
examide                     0
citoglipton                 0
insulin                     0
glyburide-metformin         0
glipizide-metformin         0
glimepiride-pioglitazone    0
metformin-rosiglitazone     0
metformin-pioglitazone      0
change                      0
diabetesMed                 0
readmitted                  0
dtype: int64

In [111]:
data = data.replace('?', np.nan)

In [112]:
data.head(10)

,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,8222157,Caucasian,Female,[0-10),NaN,6,25,1,1,NaN,...,No,No,No,No,No,No,No,No,No,NO
1,55629189,Caucasian,Female,[10-20),NaN,1,1,7,3,NaN,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,86047875,AfricanAmerican,Female,[20-30),NaN,1,1,7,2,NaN,...,No,No,No,No,No,No,No,No,Yes,NO
3,82442376,Caucasian,Male,[30-40),NaN,1,1,7,2,NaN,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,42519267,Caucasian,Male,[40-50),NaN,1,1,7,1,NaN,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
5,82637451,Caucasian,Male,[50-60),NaN,2,1,2,3,NaN,...,No,Steady,No,No,No,No,No,No,Yes,>30
6,84259809,Caucasian,Male,[60-70),NaN,3,1,2,4,NaN,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
7,114882984,Caucasian,Male,[70-80),NaN,1,1,7,5,NaN,...,No,No,No,No,No,No,No,No,Yes,>30
8,48330783,Caucasian,Female,[80-90),NaN,2,1,4,13,NaN,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
9,63555939,Caucasian,Female,[90-100),NaN,3,3,4,12,NaN,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [113]:
data.isnull().sum()

patient_nbr                     0
race                         2273
gender                          0
age                             0
weight                      98569
admission_type_id               0
discharge_disposition_id        0
admission_source_id             0
time_in_hospital                0
payer_code                  40256
medical_specialty           49949
num_lab_procedures              0
num_procedures                  0
num_medications                 0
number_outpatient               0
number_emergency                0
number_inpatient                0
diag_1                         21
diag_2                        358
diag_3                       1423
number_diagnoses                0
max_glu_serum                   0
A1Cresult                       0
metformin                       0
repaglinide                     0
nateglinide                     0
chlorpropamide                  0
glimepiride                     0
acetohexamide                   0
glipizide                       0
glyburide                       0
tolbutamide                     0
pioglitazone                    0
rosiglitazone                   0
acarbose                        0
miglitol                        0
troglitazone                    0
tolazamide                      0
examide                         0
citoglipton                     0
insulin                         0
glyburide-metformin             0
glipizide-metformin             0
glimepiride-pioglitazone        0
metformin-rosiglitazone         0
metformin-pioglitazone          0
change                          0
diabetesMed                     0
readmitted                      0
dtype: int64

In [114]:


# Sample data (replace with your actual data)

# Convert 'readmitted' to binary classification
def convert_readmission(value):
  if value == '<30':
    return 1
  else:
    return 0

data['readmitted'] = data['readmitted'].apply(convert_readmission)

In [115]:
display(data.iloc[12])

patient_nbr                               85504905
race                                     Caucasian
gender                                      Female
age                                        [40-50)
weight                                         NaN
admission_type_id                                1
discharge_disposition_id                         3
admission_source_id                              7
time_in_hospital                                 7
payer_code                                     NaN
medical_specialty           Family/GeneralPractice
num_lab_procedures                              60
num_procedures                                   0
num_medications                                 15
number_outpatient                                0
number_emergency                                 1
number_inpatient                                 0
diag_1                                         428
diag_2                                      250.43
diag_3                                       250.6
number_diagnoses                                 8
max_glu_serum                                 None
A1Cresult                                     None
metformin                                   Steady
repaglinide                                     Up
nateglinide                                     No
chlorpropamide                                  No
glimepiride                                     No
acetohexamide                                   No
glipizide                                       No
glyburide                                       No
tolbutamide                                     No
pioglitazone                                    No
rosiglitazone                                   No
acarbose                                        No
miglitol                                        No
troglitazone                                    No
tolazamide                                      No
examide                                         No
citoglipton                                     No
insulin                                       Down
glyburide-metformin                             No
glipizide-metformin                             No
glimepiride-pioglitazone                        No
metformin-rosiglitazone                         No
metformin-pioglitazone                          No
change                                          Ch
diabetesMed                                    Yes
readmitted                                       1
Name: 12, dtype: object

In [116]:
count_ones = data['readmitted'].sum()

In [117]:
print(count_ones)

11357

In [118]:
data.shape

(101766, 49)

In [119]:
data['readmitted'] = data['readmitted'].astype(bool)

In [120]:
print(data.dtypes)

patient_nbr                  int64
race                        object
gender                      object
age                         object
weight                      object
admission_type_id            int64
discharge_disposition_id     int64
admission_source_id          int64
time_in_hospital             int64
payer_code                  object
medical_specialty           object
num_lab_procedures           int64
num_procedures               int64
num_medications              int64
number_outpatient            int64
number_emergency             int64
number_inpatient             int64
diag_1                      object
diag_2                      object
diag_3                      object
number_diagnoses             int64
max_glu_serum               object
A1Cresult                   object
metformin                   object
repaglinide                 object
nateglinide                 object
chlorpropamide              object
glimepiride                 object
acetohexamide               object
glipizide                   object
glyburide                   object
tolbutamide                 object
pioglitazone                object
rosiglitazone               object
acarbose                    object
miglitol                    object
troglitazone                object
tolazamide                  object
examide                     object
citoglipton                 object
insulin                     object
glyburide-metformin         object
glipizide-metformin         object
glimepiride-pioglitazone    object
metformin-rosiglitazone     object
metformin-pioglitazone      object
change                      object
diabetesMed                 object
readmitted                    bool
dtype: object

In [121]:
missing_percentages = data.isnull().sum() / len(data) * 100

In [122]:
columns_to_drop = missing_percentages[missing_percentages > 90].index

In [123]:
data = data.drop(columns_to_drop, axis=1)

In [124]:
data.shape

(101766, 48)

In [125]:

# Columns with no variations
no_variation_cols = ['examide', 'citoglipton']


# Drop all columns 
data = data.drop(no_variation_cols, axis=1)

In [126]:
near_zero_variance_cols = ['repaglinide', 'nateglinide', 'chlorpropamide', 
                           'glimepiride', 'acetohexamide', 'tolbutamide', 
                           'acarbose', 'miglitol', 'troglitazone', 'tolazamide', 
                            'glyburide-metformin', 
                           'glipizide-metformin', 'glimepiride-pioglitazone', 
                           'metformin-rosiglitazone', 'metformin-pioglitazone']

data = data.drop(near_zero_variance_cols, axis=1)

In [127]:
data.shape

(101766, 31)

In [128]:
data.dropna(inplace=True)

In [129]:
data.shape

(26755, 31)

In [130]:
numerical_columns = data.select_dtypes(include=np.number)
print(numerical_columns)

        patient_nbr  admission_type_id  discharge_disposition_id  \
20446      20123568                  1                        22
20737      20377854                  2                         1
20824      20408121                  1                         1
21083      20542797                  1                         2
23879       7239654                  1                         3
...             ...                ...                       ...
101735    106595208                  2                         6
101743     47293812                  1                        13
101747     33230016                  1                        22
101749    106392411                  3                         6
101764     31693671                  2                         3

        admission_source_id  time_in_hospital  num_lab_procedures  \
20446                     7                 7                  58
20737                     1                 3                  59
20824                     7                 4                  56
21083                     7                10                  68
23879                     6                12                  77
...                     ...               ...                 ...
101735                    7                 6                  46
101743                    7                 3                  45
101747                    7                 8                  51
101749                    1                 3                  27
101764                    7                10                  45

        num_procedures  num_medications  number_outpatient  number_emergency  \
20446                2               15                  0                 0
20737                3               11                  0                 0
20824                1                9                  0                 0
21083                1               18                  0                 0
23879                5               19                  0                 0
...                ...              ...                ...               ...
101735               5               14                  0                 0
101743               0               26                  1                 0
101747               6               19                  0                 0
101749               1               29                  0                 1
101764               2               21                  0                 0

        number_inpatient  number_diagnoses
20446                  0                 9
20737                  0                 6
20824                  0                 6
21083                  0                 6
23879                  0                 5
...                  ...               ...
101735                 1                 9
101743                 1                 9
101747                 0                 9
101749                 0                 9
101764                 1                 9

[26755 rows x 12 columns]

In [131]:
print(numerical_columns.describe())

        patient_nbr  admission_type_id  discharge_disposition_id  \
count  2.675500e+04       26755.000000              26755.000000
mean   5.732865e+07           2.019137                  2.959821
std    3.710987e+07           0.946664                  4.327149
min    7.290000e+02           1.000000                  1.000000
25%    2.425177e+07           1.000000                  1.000000
50%    4.401274e+07           2.000000                  1.000000
75%    9.230198e+07           3.000000                  3.000000
max    1.893659e+08           6.000000                 28.000000

       admission_source_id  time_in_hospital  num_lab_procedures  \
count         26755.000000      26755.000000        26755.000000
mean              4.972267          4.317922           40.756681
std               3.522615          2.949791           19.965546
min               1.000000          1.000000            1.000000
25%               1.000000          2.000000           29.000000
50%               7.000000          4.000000           42.000000
75%               7.000000          6.000000           54.000000
max              22.000000         14.000000          132.000000

       num_procedures  num_medications  number_outpatient  number_emergency  \
count    26755.000000     26755.000000       26755.000000      26755.000000
mean         1.475575        16.246720           0.290712          0.311755
std          1.749729         8.609362           0.998707          1.437214
min          0.000000         1.000000           0.000000          0.000000
25%          0.000000        10.000000           0.000000          0.000000
50%          1.000000        15.000000           0.000000          0.000000
75%          2.000000        20.000000           0.000000          0.000000
max          6.000000        81.000000          38.000000         76.000000

       number_inpatient  number_diagnoses
count      26755.000000      26755.000000
mean           0.670641          7.355522
std            1.367311          1.895473
min            0.000000          3.000000
25%            0.000000          6.000000
50%            0.000000          8.000000
75%            1.000000          9.000000
max           16.000000         16.000000

In [132]:

numerical_cols = ['time_in_hospital',
'num_lab_procedures',
'num_procedures',
'num_medications',
'number_outpatient',
'number_emergency',
'number_inpatient',
'number_diagnoses']

Q1 = data[numerical_cols].quantile(0.25)
Q3 = data[numerical_cols].quantile(0.75)
IQR = Q3 - Q1


filtered_df = data[~((data[numerical_cols] < (Q1 - 1.5 * IQR)) | (data[numerical_cols] > (Q3 + 1.5 * IQR))).any(axis=1)]

In [133]:
data.isnull().sum()

patient_nbr                 0
race                        0
gender                      0
age                         0
admission_type_id           0
discharge_disposition_id    0
admission_source_id         0
time_in_hospital            0
payer_code                  0
medical_specialty           0
num_lab_procedures          0
num_procedures              0
num_medications             0
number_outpatient           0
number_emergency            0
number_inpatient            0
diag_1                      0
diag_2                      0
diag_3                      0
number_diagnoses            0
max_glu_serum               0
A1Cresult                   0
metformin                   0
glipizide                   0
glyburide                   0
pioglitazone                0
rosiglitazone               0
insulin                     0
change                      0
diabetesMed                 0
readmitted                  0
dtype: int64

In [134]:
data.shape

(26755, 31)

In [1]:
data.to_csv('cleaned_data.csv', index=False)

NameError: name 'data' is not defined